<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/homepage.css">
    <script src="../static/javascript/homepage.js"></script>
    <meta charset="UTF-8">
    <title>Homepagina</title>
</head>
<body class="body">

<header class="header">
    <nav>
        <ul class="navbar">
            <li><a href="homepage.html">Homepagina</a></li>
            <li><a href="kerntaken.html">Kerntaken</a></li>
            <li><a href="kerntaken.html">Geen idee</a></li>
            <li><a href="portfolio.html">Portfolio's</a></li>
        </ul>
    </nav>
</header>

<div class="square">

</div>

</body>
</html>